<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="return()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{pizza.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <img style="width: 330px; height: 192px;" alt="Magnifique pizza cuite au feu de bois" src="{{pizza.img}}"/>
  <ion-card-header>
    <ion-card-title>Prix : {{pizza.price}}€</ion-card-title>
    <ion-card-subtitle>{{pizza.description}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card style="width: fit-content">
  <img style="height: 100%;" alt="Répartition calorique de la pizza" src="https://cdn.discordapp.com/attachments/1031943438985343009/1061936588688478218/Screenshot_2023-01-09_at_10.16.45.png"/>
</ion-card>

