<ion-header>
  <ion-toolbar>
    <ion-title>Liste des pizzas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="createPizza()">
      <ion-icon name="add-circle-outline" color="success"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar placeholder="Rechercher une pizza..." (ionChange)="searchPizzas($event)"></ion-searchbar>
</ion-toolbar>
<ion-content class="ion-padding">
  <ion-list lines="full">
    <ion-item *ngFor="let pizza of pizzas">
      <ion-thumbnail slot="start">
        <img alt="Ceci est une magnifique pizza" src="{{pizza.img}}">
      </ion-thumbnail>
      <ion-label>{{pizza.name}}</ion-label>
      <ion-button color="warning" (click)="editPizza(pizza)">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="success" (click)="addImgPizza(pizza)">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button color="secondary" (click)="addImgFromGallery(pizza)">
        <ion-icon name="image-outline"></ion-icon>
      </ion-button>

      <ion-button color="danger" (click)="deletePizza(pizza)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

