<ion-header>
  <ion-toolbar>
    <ion-title>
      Nos pizzas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-col>
      <ion-card *ngFor="let pizza of pizzas">
        <img src="{{pizza.img}}"/>
        <ion-card-header>
          <ion-card-title>{{pizza.name}}</ion-card-title>
          <ion-card-subtitle>Prix: {{pizza.price}}€</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{pizza.ingredients}}
        </ion-card-content>
        <ion-item>
          <ion-button slot="end" color="success" (click)="addToCart($event, pizza.id)">
            <ion-label>Ajouter au panier </ion-label>
            <ion-icon name="bag-add-outline" slot="start"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
